@import '../../../variables.scss';

.wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.card {
  box-sizing: content-box;
  max-width: 568px;
  width: 100%;
  height: 398px;
  @media screen and (max-width: $breakpoint-mobile) {
    display: flex;
    max-width: unset;
    justify-content: center;
  }
}

.iframeWrapper {
  box-sizing: content-box;
  max-width: 568px;
  width: 100%;
  height: 398px;
}
