@import '../../../variables.scss';

.content {
  display: flex;
  flex: 1;
  justify-content: center;
}

.card {
  box-sizing: content-box;
  max-width: 568px;
  width: 100%;
  height: 398px;
  @media screen and (max-width: $breakpoint-mobile) {
    box-sizing: border-box;
    display: flex;
    max-width: unset;
    justify-content: center;
    height: unset;
  }
}

.navbarVersion {
  @media screen and (max-width: $breakpoint-mobile) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.navbarWrapper {
  height: 48px;
  justify-content: flex-start;
  @media screen and (max-width: $breakpoint-mobile) {
    height: unset;
    justify-content: unset;
    grid-template-rows: 48px auto;
  }
}
