{
  "extends": "vacuumlabs",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "plugins": ["react-hooks", "@typescript-eslint"],
  "rules": {
    "no-bitwise": "off",
    "guard-for-in": "off",
    "react/react-in-jsx-scope": "off",
    "no-undef": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "none"
      }
    ],
    "no-unused-vars": "off",
    "import/no-restricted-paths": [
      "error",
      {
        "zones": [{"target": "./app", "from": "./node_modules"}]
      }
    ],
    "import/no-extraneous-dependencies": "error"
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off",
        "no-unused-vars": [
          "warn",
          {
            "vars": "all",
            "args": "after-used"
          }
        ]
      }
    }
  ],
  "settings": {
    "react": {
      "version": "16.8",
      "pragma": "h"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "jsx": true
  }
}
