{
  "extends": "vacuumlabs",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": ["react-hooks"],
  "rules": {
    "no-bitwise": "off",
    "guard-for-in": "off",
    "react/react-in-jsx-scope": "off",
    "no-undef": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  },
  "settings": {
    "react": {
        "version": "16.8",
        "pragma": "h"
    }
  },
  "parser": "@typescript-eslint/typescript-estree",
  "parserOptions": {
    "jsx": true
  }
}
