{
  "extends": "vacuumlabs",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-bitwise": "off",
    "guard-for-in": "off"
  },
  "settings": {
    "react": {
        "version": "16.8"
    }
  },
  "parser": "@typescript-eslint/typescript-estree"
}
