.idea/
.vscode/*
.env
.vscode/
yarn-error.log
*.sublime-project
*.sublime-workspace
.DS_Store
sandbox.js
node_modules/
app/node_modules/
app/tests/dist/
app/dist/
server.cert
server.key
app/tests/.chrome/*
app/tests/*.module.wasm
app/cypress/videos/*
app/cypress/screenshots/*
