@import '../../../variables.scss';

.progressBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2px 1fr;
  grid-auto-flow: column;
  text-align: center;
  margin: 32px 0;
}

.progressStep {
  margin: 0 20px;
  border: 2px solid var(--color-brand-light);
  background-color: var(--color-brand-light);
  border-radius: 5px;

  &.active {
    border-color: var(--color-brand);
    background-color: var(--color-brand);
  }

  @media screen and (max-width: $breakpoint-mobile) {
    margin: 0 8px;
  }
}

.progressStepText {
  margin: 4px 0;
  color: var(--color-brand-light);
  font-weight: bold;

  &.active {
    color: var(--color-brand);
  }
}

.pinCodes {
  display: grid;
  margin-bottom: 32px;
  margin-top: 8px;
  grid-template-columns: 100px 120px;
  grid-row-gap: 20px;
  grid-column-gap: 32px;
  align-items: center;
  padding-left: 48px;
  font-weight: bold;
}

.votingApps {
  margin: 16px 0;
  display: flex;
  justify-content: space-around;
  border: 2px dashed var(--color-error);
}

.appDownload {
  width: 150px;
  height: 46px;
  margin-top: 8px;
}

.votingModal {
  // workaround for now to overwrite .alert class and not change it's name
  // https://tahoeninjas.blog/2019/07/28/prevent-scss-from-changing-your-css-class-names/
  :global(.alert) {
    margin-top: 0px;
    margin-left: -22px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
  }
}

.votingDialogBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  border-top: 1px solid var(--color-border);
  padding-top: 32px;
}

.reviewTransactionRow {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.votingQr {
  display: flex;
  justify-content: center;
}

.votingTransactionSuccess {
  padding-left: 37px;
  position: relative;
  color: var(--color-success);
  font-weight: bold;

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../../../public/assets/alert_icon_success.svg');
  }
}

.validationRow {
  margin-top: 16px;
  display: flex;
  align-items: center;
  width: 100%;

  & .error {
    padding-left: 20px;
    color: var(--color-error);
  }
}
