:root {
  --brand: #9b4dca;
  --brand-dark: #7938a1;
  --transition: .25s;
  --width: 1024px;
  --text-color: #333;
  --border: #dadada;
  --navbar: #f4f5f6;
}
/* NORMALIZE */
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  color: var(--text-color);
}
/* TYPOGRAPHY */
h1, h2 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: .5em;
  text-align: left;
}
h3 {
  margin-bottom: .25em;
  font-weight: 300;
}
a {
  color: var(--brand);
}
p {
  margin-top: .5em;
  margin-bottom: .25em;
}
/* BUTTON */
button {
  background-color: var(--brand);
  color: white;
  border: 0;
  padding: 0 1em;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color var(--transition);
}
button:hover {
  background-color: var(--brand-dark);
}
button.danger {
  background-color: #d44242;
}
button.danger:hover {
  background-color: #9c2929;
}
button + button{
  margin-left: 2em;
}
input + button {
  margin-top: 1rem;
}
/* FORMS */
input {
  padding: 0 .5em;
  height: 2rem;
  font-size: 1rem;
  margin: 0;
}
label span {
  font-weight: bold;
  display: block;
  padding-bottom: .5rem;
}
label {
  display: block;
  margin-bottom: 1rem;
}
/* TABLE */
table {
  width: 100%;
}
th {
  text-align: left;
  margin-bottom: .5rem;
}
td {
  padding-right: 1rem;
}
/* CONTAINER */
.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main {
  max-width: var(--width);
  width: 100%;
  margin: 0 auto;
  flex: 0 1 auto;
}
/* ADDRESS */
.address {
  border: 1px solid var(--border);
  border-right: none;
  background-color: white;
  color: black;
  height: 2rem;
  padding: 0 1em;
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-family: monospace;
  width: 100%;
}
.address-wrap + .address-wrap {
  margin-top: 1rem;
}
.address-wrap {
  display: flex;
}
.address-wrap a[target="_blank"]::after{
  border: 1px solid var(--border);
  border-left: none;
  background: white url("../assets/link.png") no-repeat center;
  background-size: 80% 80%;;
  height: 2rem;
  width: 2rem;
  content: " ";
  display: inline-block;
  transition: background-color var(--transition);
}
.address-wrap a[target="_blank"]:hover::after{
  background-color: #eee;
}
.address-wrap + button {
  margin-top: 1rem;
}

/* BOX */
.box {
  padding: 1rem;
  margin: 1.5rem;
  background-color: #f8f9fa;
  border: 1px solid var(--border);
}
.box h2 {
  border-bottom: 1px solid var(--border);
  padding-bottom: .25em;
}
.box-info {
  border-color: var(--brand);
  background-color: #fcf7fd;
}
.overlay .box {
  box-shadow: 3px 8px 10px rgba(0,0,0,.05);
  max-width: var(--width);
  width: 80%;
  position: relative;
}
.overlay .box::after {
  content: "╳";
  position: absolute;
  top: -2rem;
  right: -2rem;
  font-size: 1rem;
  color: var(--text-color);
  pointer-events: none;
}
/* ALERT */
.alert {
  border: 1px solid #d44242;
  background-color: #d4424210;
  color: #d44242;
  font-weight: bold;
  margin: 1.5rem;
  padding: .5rem 1rem;
}
.alert small {
  font-weight: 400;
}
.alert.error {
  border-color: #d44242;
  background-color: #d4424210;
  color: #d44242;
}
.alert.success {
  border-color: #38a14f;
  background-color: #38a14f10;
  color: #38a14f;
}
.alert.warning {
  border-color: #ac6e27;
  background-color: #ac6e2710;
  color: #ac6e27;
}
/* NAVIGATION */
.navbar {
  background-color: var(--navbar);
  border-bottom: 1px solid var(--border);
}
.navbar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--width);
  width: 100%;
  height: 3rem;
  margin: 0 auto;
}
.navbar .title {
  font-size: 1.25rem;
  padding: 0 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navbar .title sup {
  align-self: flex-start;
}
.navbar .title img {
  height: 2.5rem;
  margin-right: .25rem;
}
.navbar nav {
  padding: 0 1rem;
}
.navbar input[type=checkbox] {
  display: none;
}
.navbar nav a {
  color: #777;
  text-decoration: none;
  margin-left: 1rem;
  transition: color var(--transition);
}
.navbar nav a:hover,
.navbar nav a:active {
  color: black;
}
.navbar nav a.active {
  color: var(--brand);
}
.navbar a {
  color: var(--text-color);
}
.navcollapse-label {
  display: none;
}
@media screen and (max-width: 768px) {
  .navcollapse-label {
    padding: 1rem 0;
    line-height: 1rem;
    margin-bottom: 0;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
  }

  .navbar nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: calc(3rem + 1px);
    bottom: 0;
    padding: 1rem 3rem;
    background-color: var(--navbar);
    border-left: 1px solid var(--border);
    transform: translateX(15rem);
    transition: transform var(--transition);
  }

  .navbar nav a {
    margin-left: 0;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
  }
  .navbar input[type=checkbox]:checked + nav {
    transform: translateX(0);
  }
}
/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(248,249,250,.85);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in .5s;
}
.overlay p {
  margin-top: 1rem;
  color: #777;
}
.overlay-close-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }  100% {
    transform: rotate(360deg);
  }
}
.loading {
  display: inline-block;
  border: 8px solid rgba(150, 150, 150, 0.4);
  border-left-color: var(--brand);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: loading-spin 1s linear infinite;
}
/* FOOTER */
.footer {
  max-width: var(--width);
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  color: var(--text-color);
  border-top: 1px solid var(--border);
  padding: 1.5rem 0;
  margin-top: auto;
}
.footer p {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .logo {
  height: 2rem;
}
.footer .contact-link {
  padding-left: .5em;
  padding-right: .5em;
}
