version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.4.0

defaults: &defaults
  docker:
    - image: cimg/node:18.12-browsers
  working_directory: ~/repo

commands:
  setup:
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "yarn.lock" }}-{{ checksum "app/yarn.lock"}}
      - run: cp .env.example .env
      - run: yarn install
      - run: cd app && yarn install && cd ../
      - save_cache:
          paths:
            - node_modules
            - app/node_modules
            - ../.cache/Cypress
          key: dependencies-{{ checksum "yarn.lock" }}-{{ checksum "app/yarn.lock"}}

jobs:
  audit:
    <<: *defaults
    steps:
      - setup
      - run: yarn improved-yarn-audit
      - run: cd app && yarn improved-yarn-audit && cd ../

  lint:
    <<: *defaults
    steps:
      - setup
      - run: yarn eslint

  test_unit:
    <<: *defaults
    steps:
      - setup
      - browser-tools/install-chrome
      - run: yarn test-chrome-headless

  test_integration:
    <<: *defaults
    steps:
      - setup
      - browser-tools/install-chrome
      - run:
          name: Build the app so that server can be started
          command: yarn build
      - run:
          name: Start server with correct env for cypress tests
          command: yarn cypress:dev
          background: true
      - run:
          name: Run Cypress tests
          store_artifacts: true
          command: |
            npx wait-on https://localhost:3000 --timeout 120000
            VIDEO=true yarn cypress:run
      - store_artifacts:
          path: app/cypress/videos
      - store_artifacts:
          path: app/cypress/screenshots

workflows:
  version: 2
  workflow:
    jobs:
      - audit
      - lint
      - test_unit
      - test_integration
