version: 2.1

defaults: &defaults
  docker:
    - image: circleci/node:14.16-browsers
  working_directory: ~/repo

commands:
  setup:
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "yarn.lock" }}-{{ checksum "app/yarn.lock"}}
      - run: cp .env.example .env
      - run: yarn install
      - run: cd app && yarn install && cd ../
      - save_cache:
          paths:
            - node_modules
            - app/node_modules
            - ../.cache/Cypress
          key: dependencies-{{ checksum "yarn.lock" }}-{{ checksum "app/yarn.lock"}}

jobs:
  audit:
    <<: *defaults
    steps:
      - setup
      - run: yarn audit
      - run: cd app && yarn audit && cd ../
  
  lint:
    <<: *defaults
    steps:
      - setup
      - run: yarn eslint

  test_unit:
    <<: *defaults
    steps:
      - setup
      - run: yarn test-chrome-headless
  
  test_integration:
    <<: *defaults
    steps:
      - setup
      - run:
          name: Build the app so that server can be started
          command: cd app && yarn build && cd ../
      - run:
          name: Start server with correct env for cypress tests
          command: yarn cypress:dev
          wait-on: https://localhost:3000
          background: true
      - run:
          name: Run Cypress tests
          store_artifacts: true
          command: VIDEO=true yarn cypress:run
      - store_artifacts:
          path: app/cypress/videos
      - store_artifacts:
          path: app/cypress/screenshots

workflows:
  version: 2
  workflow:
    jobs:
      - audit
      - lint
      - test_unit
      - test_integration

