:root {
  --brand: #eb1a75;
  --brand-dark: #ed005b;
  --brand-light: #d36a98;
  --transition: 0.25s;
  --width: 1024px;
  --text-color: #333;
  --input-text-inactive: #999;
  --input-text-active: #333;
  --input-background: #f4f5f6;
  --border: #dadada;
  --navbar: #f4f5f6;
  --positive: #38a14f;
  --positive-transparent: #38a14f10;
  --warning: #ac6e27;
  --warning-transparent: #ac6e2710;
  --negative: #d44242;
  --negative-transparent: #d4424210;
  --disabled: #ddd;
  --navbar-text: #777;
}
/* NORMALIZE */
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
html {
  height: 100%;
  font-size: 15px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  color: var(--text-color);
}
input:focus {
  outline: none;
}
/* TYPOGRAPHY */
h1 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0.5em;
}
h2 {
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5em;
  border-bottom: 2px solid var(--border);
  padding-bottom: 0.25em;
  padding-left: 0.2rem;
}
h3 {
  margin-bottom: 0.25em;
  font-weight: 300;
}
h4 {
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.25em;
}
a {
  color: var(--brand);
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}
path {
  fill: currentColor;
}
/* BUTTON */
button {
  background-color: var(--brand);
  color: white;
  border: 0;
  border-radius: 8px;
  padding: 0 1em;
  height: 2.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: transform var(--transition);
}
button:disabled {
  background-color: var(--brand-light);
  cursor: not-allowed;
}
button:hover {
  transform: scale(1.08);
}
button.danger {
  background-color: var(--negative);
}
button.positive {
  background-color: var(--positive);
}
button:disabled {
  background-color: var(--disabled);
}
button + button {
  margin-left: 2em;
}
input + button {
  margin-top: 1rem;
}
/* FORMS */
input {
  padding: 0 0.5em;
  height: 2rem;
  font-size: 1rem;
  margin: 0;
}
label span {
  font-weight: bold;
  display: block;
  padding-bottom: 0.5rem;
}
label {
  display: block;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
/* TABLE */
table {
  width: 100%;
}
th {
  text-align: left;
  padding-bottom: 1rem;
  padding-left: 2px;
  font-size: 0.9rem;
}
td {
  padding-right: 1rem;
}
/* CONTAINER */
.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main {
  max-width: var(--width);
  width: 100%;
  margin: 0 auto;
  flex: 0 1 auto;
}
/* ADDRESS */
.address {
  border: 1px solid var(--border);
  border-right: none;
  background-color: white;
  height: 2rem;
  padding: 0 1em;
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-family: monospace;
  width: 100%;
}
.address-wrap + .address-wrap {
  margin-top: 1rem;
}
.address-wrap {
  display: flex;
}
.address-wrap a[target='_blank']::after {
  border: 1px solid var(--border);
  border-left: none;
  background: white url('../assets/link.png') no-repeat center;
  background-size: 80% 80%;
  height: 2rem;
  width: 2rem;
  content: ' ';
  display: inline-block;
  transition: background-color var(--transition);
}
.address-wrap a[target='_blank']:hover::after {
  background-color: #eee;
}
.address-wrap + button {
  margin-top: 1rem;
}
.copy{
  border: 1px solid var(--border);
  border-left: none;
  border-right: none;
  background: white url("../assets/copy.png") no-repeat center;
  background-size: 60% 60%;
  opacity: 0.75;
  height: 2rem;
  width: 2.4rem;
  content: " ";
  display: inline-block;
  transition: background-color var(--transition);
  cursor: pointer;
}
.copy:hover{
  background-color: #eee;
}

.with-tooltip{
  position: relative;
  cursor: pointer;
}
.tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: .25em 1em;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: -100%;
}

.with-tooltip:hover .tooltip{
  visibility: visible;
}

.with-tooltip .tooltip::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 5px solid transparent;
  border-top-color: black;
}

.address-iniline {
  word-break: break-all;
  border: 1px solid var(--border);
  background-color: white;
  padding: .5em .5em;
  margin: .5em 0;
}
/* BOX */
.box {
  padding: 1rem;
  margin: 1.5rem;
  background-color: #f8f9fa;
  border: 1px solid var(--border);
}
.box-info {
  border-color: var(--brand);
  background-color: #fcf7fd;
}
.overlay .box {
  box-shadow: 3px 8px 0.6rem rgba(0, 0, 0, 0.05);
  max-width: var(--width);
  width: 80%;
  position: relative;
}
/* ALERT */
.alert {
  border: 1px solid var(--negative);
  background-color: var(--negative-transparent);
  color: var(--negative);
  font-weight: bold;
  margin: .5rem;
  padding: 0.5rem 1rem;
}
.alert small {
  font-weight: 400;
}
.alert.error {
  border-color: var(--negative);
  background-color: var(--negative-transparent);
  color: var(--negative);
}
.alert.success {
  border-color: var(--positive);
  background-color: var(--positive-transparent);
  color: var(--positive);
}
.alert.warning {
  border-color: var(--warning);
  background-color: var(--warning-transparent);
  color: var(--warning);
}
.validationMsg {
  color: var(--negative);
  margin: 0 .8rem;
}
/* NAVIGATION */
.navbar {
  background-color: var(--navbar);
  border-bottom: 1px solid var(--border);
}
.navbar-wrap {
  display: flex;
  align-items: center;
  max-width: var(--width);
  width: 100%;
  height: 3.5rem;
  margin: 0 auto;
}
.navbar .title {
  font-size: 1.25rem;
  padding: 0 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.navbar .title sup {
  align-self: flex-start;
}
.navbar .title img {
  height: 2.5rem;
  margin-right: 0.25rem;
}
.navbar nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}
.navbar .unauth {
  justify-content: flex-end;
}
.navbar input[type='checkbox'] {
  display: none;
}
.navbar nav a {
  color: var(--navbar-text);
  text-decoration: none;
  margin-left: 1rem;
  transition: color var(--transition);
  cursor: pointer;
}
.navbar nav a:hover,
.navbar nav a:active {
  color: black;
}
.navbar nav a.active {
  color: var(--brand);
}
.navbar a {
  color: var(--text-color);
}
.navcollapse-label {
  display: none;
}
.status {
  display: flex;
  align-items: center;
  color: var(--text-color);
  margin-left: 1.3rem;
}
.status > div {
  margin: 0 0.6rem 0 0.6rem;
}
.status button {
  background-color: var(--navbar);
  color: var(--text-color);
  border: 0;
  cursor: pointer;
  transition: transform var(--transition), color var(--transition);
  margin: 0.3rem;
  padding: 2px;
  height: 2.5rem;
  border-radius: 0;
}
.status button:hover {
  background-color: var(--brand-light);
}
.status-text-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
}
.status-text {
  width: 12em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2px;
  font-size: 0.8rem;
}
.status-balance {
  font-weight: bold;
  font-size: 0.9rem;
}
.active-wallet-id {
  color: var(--brand);
  cursor: default;
}
.status-icon-button-content {
  font-size: 0.8rem;
}
.status-icon-button-image {
  width: 0.9rem;
  height: 0.9rem;
}
@media screen and (max-width: 768px) {
  body {
    padding-top: 3.5rem;
  }

  .navcollapse-label {
    padding: 1rem 0;
    line-height: 1rem;
    margin-bottom: 0;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
  }

  .navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }

  .navbar-wrap {
    justify-content: space-between;
  }

  .navbar nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    position: fixed;
    right: 0;
    top: calc(3.5rem + 1px);
    bottom: 0;
    padding: 1rem 3rem;
    background-color: var(--navbar);
    border-left: 1px solid var(--border);
    transform: translateX(18rem);
    transition: transform var(--transition);
    z-index: 1;
  }

  .navbar nav a {
    margin-left: 0;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
  }
  .navbar input[type='checkbox']:checked + nav {
    transform: translateX(0);
  }

  .status {
    margin: 0;
    flex-direction: column-reverse;
  }

  .status-text {
    white-space: normal;
    word-break: break-all;
    text-align: center;
    margin: 0.5rem 0 0.5rem;
  }
}
/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(248, 249, 250, 0.85);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 0.5s;
}
.overlay label {
  color: var(--navbar-text);
  cursor: pointer;
}
.overlay p {
  margin-top: 1rem;
  color: var(--navbar-text);
}

.overlay-close-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  display: inline-block;
  border: 8px solid rgba(150, 150, 150, 0.4);
  border-left-color: var(--brand);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: loading-spin 1s linear infinite;
}

.ontop {
  z-index: 3;
}
.loading-inside-button {
  display: inline-block;
  border: 2px solid rgba(150, 150, 150, 0.4);
  border-left-color: white;
  border-radius: 50%;
  margin-top: -2px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  animation: loading-spin 1s linear infinite;
}
.loading-button {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  float: right;
  margin: 15px 5px;
  height: 2.6rem;
  width: 200px;
  text-align: center;
  justify-content: center;
}
.loading-button-wrapper {
  display: flex;
  justify-content: center;
}
.amount-label-row {
    display: flex;
    justify-content: space-between;
}
.row {
  display: flex;
}
.centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.understand-checkbox {
  margin: 0.6rem;
}
.checkbox-text {
  cursor: pointer;
}
.header-margin {
  margin-top: 1rem;
}
/* FOOTER */
.footer {
  max-width: var(--width);
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  color: var(--text-color);
  border-top: 1px solid var(--border);
  padding: 1.5rem 0;
  margin-top: auto;
}
.footer p {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .logo {
  height: 2rem;
}
.footer .contact-link {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/*LANDING*/
.intro-wrapper {
  margin: auto;
}
.intro-header {
  font-size: 2.3rem;
  font-weight: 600;
  margin: 0 4rem 2rem;
  text-align: center;
}
.intro-input-row {
  display: flex;
  justify-content: center;
}
.intro-button {
  position: absolute;
  margin: 0 1.3rem;
  font-weight: 600;
  font-size: 1.1rem;
}
@media screen and (max-width: 768px) {
  .intro-input-row {
    align-items: center;
    flex-direction: column;
  }
  .intro-button {
    position: unset;
    margin: 1rem 0 0;
  }
}
.intro-link {
  text-align: center;
  display: block;
  margin: 1.3rem;
  cursor: pointer;
}
/*input stolen from https://codepen.io/anon/pen/ZxVwWQ*/
.styled-input {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  border: 1px solid var(--border);
  padding: 0.2rem;
  background: var(--input-background);
}
.styled-input input {
  flex-grow: 1;
  color: var(--input-text-active);
  min-width: 0;
  font-size: 1.1rem;
  vertical-align: middle;
  border-style: none;
  background: transparent;
  outline: none;
}
.styled-input-nodiv {
  flex-grow: 1;
  border: 1px solid var(--border);
  padding: 0.5rem;
  height: 2.5rem;
  background: var(--input-background);
  color: var(--input-text-active);
  min-width: 0;
  width: 100%;
  font-size: 1.1rem;
}
.styled-unlock-input {
  text-align: center;
  border-radius: 0.6rem;
}
.styled-send-input {
  margin-bottom: 1rem;
}
.styled-input span {
  font-size: 1.2rem;
  vertical-align: middle;
  padding-right: 1rem;
}

.styled-input input::-webkit-input-placeholder {
  color: var(--input-text-inactive);
}
.styled-input input::-moz-placeholder {
  color: var(--input-text-inactive);
}

/*DASHBOARD*/
.text-small {
  font-size: 0.8rem;
}
.ada-sign {
  height: 3rem;
  margin-left: 1rem;
}
.content-wrapper > div {
  margin: 2rem 0;
}
.balance-text {
  font-weight: 300;
  font-size: 2.5rem;
}
.balance-value {
  font-weight: 300;
  font-size: 4.5rem;
}
.transaction-id {
  font-size: 0.9rem;
  width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
@media screen and (max-width: 768px) {
    .transaction-id {
        width: 10em;
    }
}
/*SEND-ADA*/
.transaction-fee {
  text-align: right;
  display: block;
  margin: 5px;
}
@keyframes rise-up {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fade-in-up {
  animation: fade-in 1.5s, rise-up 1.5s;
}
.fade-in-up-delayed {
  opacity: 0;
  animation: fade-in 1.5s, rise-up 1.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
.loading-inside-button {
  display: inline-block;
  border: 2px solid rgba(150, 150, 150, 0.4);
  border-left-color: white;
  border-radius: 50%;
  margin-top: -2px;
  margin-right: 5px;
  width: 1.3rem;
  height: 1.3rem;
  animation: loading-spin 1s linear infinite;
}
.loading-button {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  float: right;
  margin: 1rem 0.3rem;
  height: 2.6rem;
  width: 200px;
  text-align: center;
  justify-content: center;
}
.loading-button-wrapper {
  display: flex;
  justify-content: center;
}
