@media screen and (max-width: 1024px) {
/* NuFi PREVIEW PAGE */
.nufi-preview-list-section {
    flex-direction: column;
  }

  .nufi-preview-list-section {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .nufi-video-container{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  .nufi-responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    max-width: 853px;
    max-height: 480px;
    margin: 0 auto;
  }

  .banner.login-nufi {
    margin: 10px 0;
  }

  .sidebar.login {
    margin: 0;
    padding: 56px 32px 56px 56px;
  }
}