@media screen and (max-height: 1366px) {
  .welcome {
    position: relative;
    margin-bottom: -112px;
    margin-left: -56px;
    margin-right: -56px;
  }

  .welcome-body {
    padding-left: 56px;
    padding-right: 56px;
  }

  .welcome .credits {
    border-bottom-width: 0;
  }
}
