/* MOBILE MEDIA QUERIES */

@media screen and (max-width: 767px) {
  /* TYPOGRAPHY */

  h2 {
    font-size: 24px;
    line-height: 40px;
  }

  /* PAGE MAIN */

  .page-wrapper,
  .page-inner {
    display: block;
    padding: 0;
  }

  .page-main {
    width: 100%;
  }

  .page-wrapper-header {
    display: flex;
    flex-direction: column;
  }

  .header-message {
    height: 38px;
    margin: 4px 0px 4px;
  }

  /* BANNER */

  .banner {
    background-color: transparent;
    position: static;
    margin-bottom: 0;
    padding: 0 16px;
  }

  .banner-text {
    padding-left: 0;
    margin: 8px 0;
  }

  .banner-inner {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .banner-text::before {
    display: none;
  }

  /* SIDEBAR */

  .sidebar {
    margin: 0;
    padding: 56px 32px 56px 56px;
  }

  .sidebar.export {
    padding: 40px 16px;
  }

  .sidebar-item.spacy {
    margin-bottom: 56px;
  }

  /* NAVBAR */

  .navbar {
    padding-bottom: 0;
  }

  .navbar-link:last-child {
    margin-right: 0;
  }

  /* BUTTONS */

  .button.navbar {
    width: 187px;
  }

  .button {
    font-size: 14px;
  }

  .button.secondary.withdraw {
    text-indent: -9999em;
    padding-left: 24px;
  }

  .button.secondary.withdraw::before {
    left: 0;
    right: 0;
  }

  .button.secondary.convert::before {
    content: 'Convert'
  }

  .button.secondary.balance {
    width: unset;
  }

  /* ACCORDIONS */

  .accordion {
    cursor: unset;
  }
  
  .accordion-panel.hidden, .accordion-panel.shown {
    max-height: unset;
  }
  
  .accordion-icon {
    display: none;
  }

  /* NAVBAR */

  .navbar {
    padding: 24px 0 0 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04);
  }

  .navbar.demo {
    padding-top: 64px;
  }

  .navbar.authed {
    padding-bottom: 0;
    box-shadow: unset;
  }

  .navbar.demo::before {
    display: none;
  }

  .navbar-demo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 12px 16px;
    text-align: center;
    border-radius: 0;
  }

  .navbar-wrapper {
    display: grid;
    grid-template-columns: 132px 1fr;
    grid-row-gap: 24px;
    padding: 0;
  }

  .navbar-heading {
    order: 1;
    margin: 0;
    padding-left: 16px;
  }

  .navbar .button {
    order: 2;
    margin-right: 16px;
    justify-self: end;
  }

  .navbar-version {
    order: 3;
    margin: 0;
    border-top: 1px solid var(--color-grey-light);
    padding: 7px 16px;
  }

  .navbar-content {
    order: 4;
    border-top: 1px solid var(--color-grey-light);
    padding: 7px 16px;
  }

  .navbar-logo {
    max-width: 120px;
  }

  .navbar-link.export {
    display: block;
  }

  /* ALERTS */

  .alert {
    padding: 16px 24px 16px 60px;
  }

  /* MODALS */

  .modal-body {
    width: calc(100% - 32px);
    max-height: calc(100% - 32px);
    padding: 40px 16px;
  }

  .modal-body.send {
    width: calc(100% - 32px);
  }

  .modal-body.delegate {
    width: calc(100% - 32px);
  }

  .modal-head {
    flex-direction: column-reverse;
    align-items: center;
  }

  .modal-title {
    text-align: center;
  }

  .modal-paragraph {
    text-align: center;
    white-space: normal;
  }

  .modal-paragraph a {
    display: block;
  }

  .modal-body .alert {
    margin-top: 24px;
  }

  .modal-footer {
    margin-top: 40px;
  }

  .modal-footer .modal-paragraph {
    margin-top: 24px;
  }

  .modal-mnemonic {
    padding: 16px 24px 16px 60px;
  }

  .modal-close {
    top: 24px;
    right: 24px;
  }

  /* FORM GLOBAL */

  .form-row {
    display: block;
  }

  .form-row .input {
    width: 100%;
  }

  /* WELCOME MODAL */

  .welcome-subtitle {
    white-space: normal;
  }

  .welcome-articles {
    margin-top: 40px;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }

  .welcome .credits {
    margin-left: -16px;
    margin-right: -16px;
    padding: 40px 16px;
    display: block;
  }

  .credits-paragraph {
    margin-left: 0;
    margin-top: 24px;
  }

  .welcome-footer {
    display: block;
    margin-top: 40px;
    margin-bottom: 16px;
  }

  .welcome-footer .button {
    margin-left: 0;
    margin-top: 24px;
    width: 100%;
  }

  /* CONTACT MODAL */

  .contact-form .button {
    flex: 1;
    white-space: nowrap;
    padding: 10px 15px;
    width: 100%;
  }

  .contact-form .contact-form-bottom {
    flex-direction: column;
  }

  .contact-form button {
    margin-top: 15px;
    order: 1;
  }

  .contact-form .button + .button {
    margin: 0;
  }

  /* FOOTER */

  .footer {
    padding: 56px 32px;
    margin-top: 0;
  }

  .footer-wrapper {
    padding: 0;
  }

  .footer .branding {
    margin-bottom: 56px;
  }

  .footer-row {
    display: block;
  }

  .footer .social {
    display: block;
    width: 100%;
    margin-bottom: 32px;
  }

  .footer .donations {
    width: 100%;
  }

  .footer .conversion {
    margin-top: 56px;
    margin-bottom: 0;
  }

  .social-link {
    display: block;
    max-width: 100%;
  }

  .donations-item:last-child {
    margin-right: 0;
  }

  /* CARD */

  .blockexplorer-link {
    white-space: nowrap;
  }

  .card {
    box-shadow: none;
    padding: 40px 16px;
    border-bottom: 1px solid var(--color-grey-light);
  }

  .card-column {
    width: unset;
  }

  .card-column > .item {
    margin-top: unset;
    margin-bottom: unset;
    padding-left: unset;
  }

  .card.account .header-wrapper {
    flex: 0 0 100%;
    margin-bottom: 8px;
    width: 200px;
  }

  .card.account .header-wrapper > h2 {
    text-align: center;
    font-size: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--color-border);
  }

  .card.export:not(.download) {
    border: 0;
  }

  .card-title {
    font-size: 14px;
  }

  .card.account {
    flex-direction: column;
    text-align: center;
  }
  
  .dashboard-column .card.account-aggregated {
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .dashboard-column .card.account-aggregated .item .balance-amount {
    padding: unset;
  }

  .dashboard-column .card.account {
    margin-bottom: 20px;
  }

  .card.account-aggregated .balance {
    flex-direction: column;
    text-align: center;
  }

  .card.account-aggregated .balance .item {
    margin-bottom: 8px;
  }

  .card.account-aggregated .balance > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card.account-aggregated .refresh-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  /* INPUTS */

  .input.export {
    margin-bottom: 24px;
  }

  /* VALIDATION */

  .validation-row {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .validation-error-field {
    padding: 12px 16px;
    margin: -16px 0px 0px;
  }

  .validation-message {
    margin-bottom: 16px;
    padding-left: 0;
    text-align: center;
  }

  .validation-message.send {
    padding-left: 0;
  }

  /* EXPORT */

  .export.download {
    flex-direction: column-reverse;
  }

  .export.download .tag {
    margin-bottom: 16px;
  }

  .export.download .export-title {
    font-size: 24px;
    line-height: 40px;
  }

  .export-content .validation-row {
    margin-top: 16px;
  }

  .export-content .button {
    flex: 1;
    white-space: nowrap;
    padding: 8px 16px;
  }

  .export-content-bottom {
    margin-bottom: 16px;
    align-items: stretch;
  }

  .export-content .button + .button {
    margin-left: 16px;
  }

  /* HINT */

  .hint {
    padding-left: 56px;
    margin-bottom: 48px;
  }

  .hint::before {
    left: 8px;
  }

  .hint:last-child {
    margin-bottom: 0;
  }

  /* DROPZONE */

  .dropzone-paragraph {
    display: none;
  }

  .dropzone-content {
    padding: 60px;
  }

  /* AUTHENTICATION */

  .authentication {
    padding: 24px 16px;
    min-height: initial;
  }

  .authentication.initial {
    padding: 56px 16px 0 16px;
    border: 0;
  }

  .authentication .validation-message {
    display: block;
    text-align: left;
  }

  .authentication-title {
    margin-bottom: 40px;
  }

  .auth-options {
    display: block;
    border-bottom: none;
    border-radius: 0;
  }

  .auth-option {
    padding-bottom: 24px;
    border-right: none;
    border-bottom: 1px solid var(--color-border);
  }

  .auth-option:first-child {
    border-radius: 0;
  }

  .auth-option:last-child {
    border-radius: 0;
    border-right: none;
  }

  .auth-tabs {
    display: none;
  }

  .authentication-content {
    padding: 24px 0 32px 0;
  }

  .authentication-content.hardware {
    flex-direction: column;
    padding-top: 16px;
  }

  .authentication-content.hardware .authentication-paragraph {
    text-align: center;
  }

  .authentication-image {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .authentication-wallet {
    padding: 16px 0;
  }

  .authentication-wallet::after {
    display: none;
  }

  .authentication-buttons {
    display: block;
    flex: 1 1 100%;
  }

  .authentication-buttons .button {
    display: block;
    margin: 16px auto;
  }

  .page-demo {
    margin-top: 40px;
  }

  /* DROPDOWN */

  .dropdown.auth {
    display: block;
  }

  /* TRANSACTIONS */

  .transactions::before {
    display: none;
  }

  .transaction-item {
    padding-right: 0;
  }

  .transaction-item:last-child {
    margin-bottom: 0;
  }

  .transactions-content {
    max-height: initial;
    overflow: auto;
  }

  .transactions-empty {
    margin-left: -16px;
    margin-right: -16px;
  }

  .transaction-address {
    order: 1;
    align-self: center;
  }

  /* TOOLTIP */
  
  [data-balloon]::after {
    position: fixed;
    top: unset;
    left: 50%;
    bottom: 10vw;
    max-width: 80%;
    width: fit-content;
    text-align: center;
  }

  .wide-data-balloon[data-balloon]::after {
    min-width: unset;
  }
  
  [data-balloon]::before {
    display: none;
  }

  [data-balloon]::hover::after,
  [data-ballon]::hover::before {
    display: none;
  }

  [data-balloon]:not([data-balloon-visible]):hover::after,
  [data-balloon][data-balloon-visible='true']::after {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  /* ADDRESSES */

  .addresses::before {
    display: none;
  }

  .address:last-child {
    margin-bottom: 0;
  }

  .addresses-content {
    max-height: initial;
    overflow: auto;
  }

  .address-link.copy {
    display: none;
  }

  .address-link.qr {
    margin: 0;
  }

  .address .expanded {
    flex-direction: column;
    margin: unset;
    align-items: center;
    text-align: center;
  }

  .address .expanded .details {
    margin-top: unset;
  }

  .address .expanded .details .verification {
    margin-top: unset;
    margin-bottom: 12px;
  }

  .address .expanded.show {
    height: 298px;
    max-height: 298px;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
  }

  .detail {
    flex-direction: column;
    padding: 0 8px;
  }

  .detail-content {
    margin: 0;
  }

  .detail-content .address-copy {
    display: none;
  }

  .detail-input.address {
    margin-bottom: 16px;
  }

  .detail-row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  }

  .detail-row .detail-input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .detail-error {
    margin: 0;
  }

  .detail-qr {
    display: flex;
    flex-direction: column;
  }

  .detail-qr img {
    align-self: center;
  }

  /* STAKING HISTORY */
  .staking-history-content {
    max-height: initial;
    overflow: auto;
  }

  /* COMMON */

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  /* DASHBOARD */

  .dashboard.desktop {
    display: none;
  }

  .dashboard.mobile {
    display: block;
  }

  /* MAIN TABS */

  .tabinator {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: unset;
    /* margin: 32px 0 -12px 0; */
    box-shadow: unset;
  }

  .tabinator li {
    display: unset;
    flex: 1 0 50%;
  }

  .tabinator label:before {
    display: none;
  }

  li.main-tab label {
    box-sizing: border-box;
    display: inline-block;
    padding: 15px 25px;
    color: var(--color-grey);
    text-align: center;
  }

  li.main-tab:last-child input + label {
    border-right: 1px transparent;
  }

  li.main-tab input + label {
    border: 1px solid var(--color-border);
    box-shadow: unset;
    border-radius: unset;
  }

  li.main-tab label.selected {
    border-bottom-color: transparent;
  }

  li.main-tab input + label.selected::after {
    display: block;
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    box-shadow: unset;
    border-radius: unset;
    border-bottom: 1px transparent;
    color: var(--color-black);
  }

  li.main-tab input + label.selected::before {
    display: none;
  }

  li.main-tab input + label.selected {
    border-radius: unset;
    position: relative;
    color: #000;
    background: #fff;
    box-shadow: unset;
  }
  li.main-tab input + label {
    color: var(--color-grey);
  }

  .tabinator li.primary:after {
    content: '';
    position: absolute;
    top: 16px;
    right: calc(50% + -36px);
    width: 6px;
    height: 6px;
    background-color: var(--color-brand);
    border-radius: 50%;
  }
  

  /* SEND ADA */

  .send .card-title {
    display: none;
  }

  .send .card-title.show {
    display: block;
  }

  .send-values,
  .send-total  {
    grid-template-columns: 72px 1fr;
    grid-column-gap: 24px;
  }

  .send-values.dropdowns  {
    grid-template-columns: 72px 1fr;
    grid-column-gap: 24px;
  }

  .send .button.primary {
    width: 100%;
  }

  .account-dropdown {
    margin-bottom: -24px;
  }

  .mobile-multi-assets-page-wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* ACCOUNTS */
  .accounts-wrapper {
    display: flex;
    flex-direction: column;
  }

  .account.info {
    margin-right: 16px;
    margin-bottom: 32px;
  }

  .account-button-wrapper {
    width: 200px;
    order: 4;
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }

  .account-item-info-wrapper {
    flex: 1 1 33%;
  }

  .account-item-info-wrapper {
    text-align: center;
  }

  .account-item-info-wrapper > div {
    display: flex;
    justify-content: center;
    padding: unset;
    margin-bottom: 6px;
  }

  .account-action-buttons .account-button {
    margin-top: unset;
    margin-bottom: 16px;
  }

  .card-title.small-margin {
    margin: unset;
  }
}
  