@font-face {
  font-family: 'JTMarnie';
  src: url('../fonts/jtmarnie-bold-webfont.woff2') format('woff2'),
    url('../fonts/jtmarnie-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'JTMarnie';
  src: url('../fonts/jtmarnie-medium-webfont.woff2') format('woff2'),
    url('../fonts/jtmarnie-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --brand: #e72076;
  --brand-dark: #da1c6f;
  --brand-light: #f5a6c8;
  --brand-shadow: #eb1a75cc;
  --brand-shadow-light: #eb1a7544;
  --transition-easing: ease-in-out;
  --transition-time: 0.25s;
  --width: 1200px;
  --modal-width: 952px;
  --small-screen-padding: 25px;
  --text-color: #20323f;
  --text-color-gray: #606a71;
  --input-text-inactive: #999;
  --input-text-active: #333;
  --input-background: #f4f5f6;
  --gray-background: #e4e5e6;
  --border: #dadada;
  --navbar: #f4f5f6;
  --positive: #78d088;
  --positive-transparent: #38a14f10;
  --warning: #f4b253;
  --warning-transparent: #ac6e2710;
  --negative: #cf4040;
  --negative-transparent: #d4424210;
  --disabled: #ddd;
  --navbar-text: #777;
}

/* CONTAINER */
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  max-width: var(--width);
  width: 100%;
  flex: 0 1 auto;
  margin-left: calc(100vw - 100%);
  align-self: center;
}
@media screen and (max-width: 1200px) {
  .main {
    padding: 0 var(--small-screen-padding);
  }
}
.align-right {
  text-align: right;
}

.verify-address {
  border: 1px solid var(--border);
  border-left: none;
  border-right: none;
  background: white;
  height: 2rem;
  display: inline-block;
  transition: background-color var(--transition);
  cursor: pointer;
}

.with-tooltip {
  position: relative;
  cursor: pointer;
}
.with-tooltip:after {
  filter: alpha(opacity=0);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;

  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.25em 1em;

  content: attr(tooltip);
  pointer-events: none;
  /* Position the tooltip */
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 50%;
  -webkit-transition: all 0.18s ease-out 0.28s;
  -moz-transition: all 0.18s ease-out 0.28s;
  -ms-transition: all 0.18s ease-out 0.28s;
  -o-transition: all 0.18s ease-out 0.28s;
  transition: all 0.18s ease-out 0.18s;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.with-tooltip.active:after {
  filter: alpha(opacity=80);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  pointer-events: none;
}

.with-tooltip:before {
  filter: alpha(opacity=0);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  content: '';
  z-index: 10;
  position: absolute;
  left: 50%;
  border: 0.5rem solid transparent;
  border-top-color: black;
  -webkit-transition: all 0.18s ease-out 0.28s;
  -moz-transition: all 0.18s ease-out 0.28s;
  -ms-transition: all 0.18s ease-out 0.28s;
  -o-transition: all 0.18s ease-out 0.28s;
  transition: all 0.18s ease-out 0.18s;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.with-tooltip.active:before {
  filter: alpha(opacity=80);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  pointer-events: auto;
}
.full-address {
  padding: 0.5rem;
  background-color: #eee;
  font-family: monospace;
}
.full-address-row {
  display: flex;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  word-break: break-all;
}

.review-transaction-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  word-break: break-all;
}
.review-transaction-adress {
  font-family: monospace;
  margin: 0 0 2rem 2rem;
  background-color: var(--gray-background);
}
.review-transaction-container {
  padding: 0.2rem 0.5rem;
}

.review-transaction-total {
  border-top: 1px solid var(--navbar-text);
  padding-top: 0.5rem;
}
.review-trasaction-total-label {
  padding-top: 0.5rem;
}
.review-transaction-total-row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem;
}
.review-transaction-submit-row {
  display: flex;
  justify-content: flex-end;
}
/* BOX */
.box {
  padding: 1rem;
  margin: 1.5rem;
  background-color: #f8f9fa;
  border: 1px solid var(--border);
}
.box-info {
  border-color: var(--brand);
  background-color: #fcf7fd;
}
.box-button-wrapper {
  margin-top: 1rem;
}
.center {
  text-align: center;
}
.send-input {
  min-width: 0;
}

.button--refresh {
  border: 1px solid var(--border);
  background: #eee;
  color: var(--text-color);
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 640px) {
  .send-input {
    position: relative;
  }
  div.send-input > span {
    position: absolute;
    bottom: -1.5em;
    right: 0;
    padding: 0;
  }
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(248, 249, 250, 0.6);
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 0.5s;
}
.overlay p {
  margin-top: 1rem;
  color: var(--navbar-text);
  font-size: 16px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  display: inline-block;
  border: 8px solid rgba(150, 150, 150, 0.4);
  border-left-color: var(--brand);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: loading-spin 1s linear infinite;
}

.ontop {
  z-index: 30;
}
.loading-inside-button {
  display: inline-block;
  border: 2px solid rgba(150, 150, 150, 0.4);
  border-left-color: white;
  border-radius: 50%;
  margin-top: -2px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  animation: loading-spin 1s linear infinite;
}
.submit-button {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 5px;
  height: 2.6rem;
  width: 200px;
  text-align: center;
  justify-content: center;
}
.raw-transaction-link {
  margin: 0 auto auto 0;
}
.raw-transaction-link-disabled {
  margin: 0 auto auto 0;
  color: var(--disabled);
  pointer-events: none;
}
.loading-button-wrapper {
  display: flex;
  justify-content: center;
}
.amount-label-row {
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
}
.centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.understand-checkbox {
  margin: 0.6rem;
}
.checkbox-text {
  cursor: pointer;
}
.header-margin {
  margin-top: 1rem;
}
.margin-1rem {
  margin: 1rem;
}
.margin-2rem {
  margin: 2rem;
}
.margin-top {
  margin-top: 1rem;
}
.margin-bottom {
  margin-bottom: 1rem;
}
.margin-r {
  margin-right: 0.5rem;
}
.margin-top-s {
  margin-top: 0.5rem;
}

/*LANDING*/
.intro-wrapper {
  margin: auto;
  margin-top: 1.5rem;
  padding: 0 1em;
}
.intro-header {
  font-size: 2.3rem;
  font-weight: 600;
  margin: 0 4rem 1rem;
  text-align: center;
}
.intro-input-row {
  display: flex;
  justify-content: center;
}
.intro-button {
  position: absolute;
  margin: 0 1.3rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.demo-button {
  background: #fff;
  border: 1px solid var(--brand);
  color: black;
  margin-bottom: 1em;
  transition: none;
}
.alt-button {
  font-weight: 600;
  background: white;
  color: black;
  border: 1px solid var(--brand);
  margin: 1rem;
}
.green-button {
  font-weight: 600;
  font-size: 1.1rem;
  background: var(--positive);
  margin-top: 1.5rem;
}
.trezor-button {
  background: var(--gray-background);
  margin-top: 4.5rem;
  color: var(--navbar-text);
  padding: 2rem 1rem;
  height: unset;
}
.hw-wallet-btn-text {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
  padding-left: 0.5rem;
}

@media screen and (max-width: 840px) {
  .intro-input-row {
    align-items: center;
    flex-direction: column;
  }
  .intro-button {
    position: unset;
    margin: 1rem 0 0;
  }
}
.intro-link {
  text-align: center;
  display: block;
  margin: 1.3rem;
  cursor: pointer;
}
/*input stolen from https://codepen.io/anon/pen/ZxVwWQ*/
.styled-input {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  border: 1px solid var(--border);
  padding: 0.2rem;
  background: var(--input-background);
}
.styled-input input {
  flex-grow: 1;
  color: var(--input-text-active);
  min-width: 0;
  font-size: 1.1rem;
  vertical-align: middle;
  border-style: none;
  background: transparent;
  outline: none;
}
.styled-input-nodiv {
  flex-grow: 1;
  border: 1px solid var(--border);
  padding: 0.5rem;
  height: 2.5rem;
  background: var(--input-background);
  color: var(--input-text-active);
  min-width: 0;
  width: 100%;
  font-size: 1.1rem;
}
.styled-unlock-input {
  text-align: center;
  border-radius: 0.6rem;
}
.styled-unlock-input[type='password'] {
  max-width: 15rem;
  margin: 1em;
}
.key-file-error {
  margin-top: 1em;
}
.styled-send-input {
  margin-bottom: 1rem;
}
.styled-input span {
  font-size: 1.2rem;
  vertical-align: middle;
  padding-right: 1rem;
}

.styled-input input::-webkit-input-placeholder {
  color: var(--input-text-inactive);
}
.styled-input input::-moz-placeholder {
  color: var(--input-text-inactive);
}
.send-amount-input-group {
  display: flex;
  align-items: stretch;
}
.send-max-funds-btn {
  align-items: center;
  border: 1px solid var(--border);
  font-size: 0.8rem;
  display: flex;
  border-right: none;
  text-align: center;
  font-weight: bold;
  background-color: var(--input-background);
  padding: 0 0.5em;
  flex: 1 1 0;
}
.send-max-funds-btn-enabled {
  cursor: pointer;
  color: #999999;
  -webkit-box-shadow: 1px 1px 10px #d6d6d6;
  -moz-box-shadow: 1px 1px 10px #d6d6d6;
  box-shadow: 1px 1px 10px #d6d6d6;
  transition: transform var(--transition);
}
.send-max-funds-btn-enabled:hover {
  transform: scale(1.08);
}
.send-max-funds-btn-disabled {
  color: var(--disabled);
  pointer-events: none;
  -webkit-box-shadow: inset 1px 1px 10px #d6d6d6;
  -moz-box-shadow: inset 1px 1px 10px #d6d6d6;
  box-shadow: inset 1px 1px 10px #d6d6d6;
}
.send-amount-input-group {
  display: flex;
}
@media screen and (max-width: 350px) {
  span.transaction-fee-text.green {
    font-size: 1rem;
  }
}
.red {
  color: red;
}
.green {
  color: green;
}

/*TxHistoryPage*/
.text-small {
  font-size: 0.8rem;
}
.ada-sign-big {
  margin-left: 1rem;
  height: 3rem;
  width: 2.75rem;
}
.ada-sign-inline {
  height: 0.66rem;
  width: 0.6rem;
}
.ada-sign {
  margin-left: 0.3rem;
  height: 0.8rem;
  width: 0.65rem;
}
.balance-text {
  font-weight: 300;
  font-size: 2.5rem;
}
.balance-value {
  font-weight: 300;
  font-size: 4.5rem;
  word-wrap: break-word;
}
.other-currencies-balance {
  font-size: 1.5rem;
  color: #ddd;
  word-wrap: break-word;
}
@media screen and (max-width: 789px) and (min-width: 411px) {
  .other-currencies-balance.on-mobile-only.not-narrow-screen {
    display: block;
  }
}
@media screen and (max-width: 640px) {
  .balance-value {
    font-size: 2.25rem;
  }
  .ada-sign {
    margin-left: 0.5rem;
  }
  .ada-sign-big {
    height: 1.5rem;
    width: 1.36rem;
  }
  .button--refresh {
    transform: scale(0.65);
    margin-left: 0.1rem;
  }

  .narrow-screen-only {
    display: inline;
  }
}

.narrow-screen-only {
  display: none;
}

@media screen and (max-width: 374px) {
  .balance-value {
    font-size: 2rem;
  }
  .ada-sign {
    margin-left: 0.3rem;
  }
  .ada-sign-big {
    height: 1.3rem;
    width: 1rem;
  }
  .button--refresh {
    transform: scale(0.55);
  }
  .not-narrow-screen {
    display: none;
  }
  .narrow-screen-only {
    display: inline;
  }
}

.transaction-id {
  font-size: 0.9rem;
  width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
@media screen and (max-width: 840px) {
  .transaction-id {
    width: 10em;
  }
}
/*SEND-ADA*/
.loading-inside-button {
  display: inline-block;
  border: 2px solid rgba(150, 150, 150, 0.4);
  border-left-color: white;
  border-radius: 50%;
  margin-top: -2px;
  margin-right: 5px;
  width: 1.3rem;
  height: 1.3rem;
  animation: loading-spin 1s linear infinite;
}
.transaction-history-wrapper {
  overflow: auto;
  padding-top: 1.5em;
}
.gray-row {
  padding: 0.5rem;
  background-color: #eee;
  font-family: monospace;
  margin: auto;
}
.mnemonic-box {
  margin-top: 2em;
  margin-bottom: 2em;
  word-wrap: break-word;
}
.force-select-all {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
.pulse {
  box-shadow: 0 0 0 var(--brand-shadow);
  animation: pulse 2s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--brand-shadow);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px var(--brand-shadow-light);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 var(--brand-shadow-light);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 var(--brand-shadow);
    box-shadow: 0 0 0 0 var(--brand-shadow);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px var(--brand-shadow-light);
    box-shadow: 0 0 0 10px var(--brand-shadow-light);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 var(--brand-shadow-light);
    box-shadow: 0 0 0 0 var(--brand-shadow-light);
  }
}
.no-events {
  pointer-events: none;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectable {
  pointer-events: auto;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.shrinklable {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shrinked {
  width: 30%;
}
.public-wallet-badge {
  background: var(--brand);
  color: #fff;
  font-weight: bold;
  font-size: 0.6em;
  padding: 2px 4px;
  border-radius: 0.5em;
  position: absolute;
  left: 90px;
  bottom: -1em;
}
.public-wallet-warning-list {
  text-align: left;
  margin: auto;
  margin-bottom: 1em;
}
.load-file-row {
  display: flex;
  align-items: baseline;
}
.display-none {
  display: none;
}
.drop-area {
  border: 2px dashed var(--border);
  background-color: var(--input-background);
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.drop-or-select-row {
  display: flex;
}
.fill-width {
  width: 100%;
}
.button-like {
  font-weight: 600;
  display: flex;
  align-items: center;
}
.margin-l {
  margin-left: 1rem;
}
.total-other-currencies {
  color: grey;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
@media screen and (max-width: 640px) {
  .total-other-currencies {
    margin-top: 2rem;
  }
}
.raw-unsigned-transaction {
  display: flex;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  word-break: break-all;
  background-color: #eee;
}
.submit-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 15px 0;
}

/* tab-row */
.tab-row {
  text-align: center;
  list-style: none;
  margin-bottom: 2.5rem;
  padding: 0;
  line-height: 24px;
  height: 26px;
  overflow: hidden;
  font-weight: 300;
  position: relative;
}
.tab-row li {
  border: 1px solid var(--border);
  background: var(--navbar);
  display: inline-block;
  position: relative;
  z-index: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #fff;
  margin: 0;
  padding: 0 5px;
  cursor: pointer;
}
@media screen and (min-width: 640px) {
  .tab-row li {
    padding: 0 20px;
  }
}
.tab-row li.selected {
  background: #fff;
  color: #333;
  z-index: 10;
  border-bottom-color: #fff;
}
.tab-row:before {
  position: absolute;
  content: ' ';
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--border);
  z-index: 10;
}
.tab-row li:before,
.tab-row li:after {
  border: 1px solid var(--border);
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: ' ';
}
.tab-row li:before {
  left: -6px;
  border-bottom-right-radius: 6px;
  border-width: 0 1px 1px 0;
}
.tab-row li:after {
  right: -6px;
  border-bottom-left-radius: 6px;
  border-width: 0 0 1px 1px;
  box-shadow: -2px 2px 0 #d1d1d1;
}
.tab-row li.selected:before {
  box-shadow: 2px 2px 0 #fff;
}
.tab-row li.selected:after {
  box-shadow: -2px 2px 0 #fff;
}

.auth-section {
  animation: fade-in 1.5s;
  text-align: center;
}
.export-wallet-button {
  margin: auto;
  margin-top: 1em;
  text-decoration: none;
  width: 6rem;
  justify-content: center;
}
.export-wallet-dialog label {
  margin-bottom: 0.3em;
}

.export-walet-dialog {
  max-width: 360px;
}

.hidden {
  visibility: hidden;
}
.strong {
  font-weight: bold;
}
.text-center {
  text-align: center;
}

.transparent-overlay {
  z-index: 1000;
  color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: wait;
  left: 0;
}

.waiting-for-hw-wallet-button {
  display: inline-flex;
  align-items: center;
}

.flex-align {
  display: flex;
}

/* REDESIGN 2.0 */

/* VARIABLES */

:root {
  --width: 1288px;
  --transition-easing: ease-in-out;
  --transition-time: 0.25s;
  --color-pink: #e72076;
  --color-grey-dark: #20323f;
  --color-grey: #606a71;
  --color-grey-light: #e6e6e6;
  --color-green: #78d088;
  --color-blue: #78c9dd;
  --color-red: #cf4040;
  --color-orange: #f4b253;
  --color-brand: var(--color-pink);
  --color-brand-light: #f5a6c8;
  --color-brand-dark: #c91563;
  --color-text: var(--color-grey-dark);
  --color-success: var(--color-green);
  --color-warning: var(--color-orange);
  --color-error: var(--color-red);
  --color-info: var(--color-blue);
  --color-border: var(--color-grey-light);
  --transition-easing: ease-in-out;
  --transition-time: 0.25s;
}

/* NORMALIZE */

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: 14px;
  line-height: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: JTMarnie, Arial, Helvetica, sans-serif;
  height: 100%;
  color: var(--color-text);
}

/* TYPOGRAPHY */

h2 {
  font-weight: normal;
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

h3 {
  font-weight: bold;
  margin: 0;
  font-size: 16px;
  line-height: 32px;
}

h3 {
  font-weight: bold;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

a,
a:hover {
  color: var(--color-brand);
  text-decoration: underline;
  cursor: pointer;
}

p {
  margin: 0;
}

/* INPUTS */

.input {
  border-radius: 4px;
  border: 1px solid var(--color-border);
  padding: 12px 16px;
  font-size: 14px;
  line-height: 32px;
  color: var(--color-text);
  background-color: white;
  transition: border-color var(--transition-easing) var(--transition-time),
    box-shadow var(--transition-easing) var(--transition-time);
}

.input:focus {
  outline: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
}

.input::-webkit-input-placeholder {
  color: var(--color-grey);
}
.input::-moz-placeholder {
  color: var(--color-grey);
}
.input:-ms-input-placeholder {
  color: var(--color-grey);
}
.input:-moz-placeholder {
  color: var(--color-grey);
}

.input.error {
  border-color: var(--color-error);
}

.input.fullwidth {
  width: 100%;
}

.input.auth {
  margin-bottom: 24px;
}

.input.fullwidth {
  width: 100%;
}

.input.export {
  margin-bottom: 32px;
}

/* BUTTONS */

.button {
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
  border: none;
  transition: background-color var(--transition-easing) var(--transition-time);
  display: inline-block;
}

.button:hover {
  cursor: pointer;
}

.button.primary {
  background-color: var(--color-brand);
  color: white;
}

.button.primary:hover {
  background-color: var(--color-brand-dark);
}

.button.primary:disabled {
  background-color: var(--color-brand-light);
  color: white;
}

.button.outline {
  background-color: white;
  color: var(--color-brand);
  border: 2px solid var(--color-brand);
}

.button.outline:hover {
  background-color: var(--color-brand);
  color: white;
}

.button.small {
  padding: 8px 16px;
}

.button.fullwidth {
  width: 100%;
}

.button.navbar {
  margin-left: 16px;
  padding: 7px 24px 8px 24px;
}

.button.refresh {
  padding-left: 60px;
  position: relative;
  background-color: white;
  border: 2px solid var(--color-border);
  color: var(--color-grey);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.button.refresh::before {
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 24px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  background-image: url('../assets/refresh_button_symbol.svg');
}

.button.refresh:hover::before {
  background-image: url('../assets/refresh_button_symbol_active.svg');
}

.button.refresh:hover {
  color: var(--color-brand);
}

.button.logout {
  margin-left: 16px;
  padding: 7px 24px 8px 56px;
  position: relative;
  color: var(--color-grey);
  border: 2px solid var(--color-border);
  font-weight: normal;
  background-color: white;
  font-size: 14px;
}

.button.logout::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 24px;
  margin: auto;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../assets/logout_symbol.svg');
}

.button.logout:hover {
  color: var(--color-brand);
}

.button.logout:hover::before {
  background-image: url('../assets/logout_symbol_active.svg');
}

.button.trezor {
  position: relative;
  padding-right: 119px;
}

.button.trezor::before {
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 24px;
  top: 16px;
  width: 79px;
  height: 22px;
  background-image: url('../assets/trezor_logo_white.svg');
}

.button.view-more {
  background-color: transparent;
  padding: 0;
  color: var(--color-brand);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  padding-right: 26px;
  position: relative;
}

.button.view-more::after {
  content: '';
  position: absolute;
  top: 11px;
  right: 0;
  width: 11px;
  height: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../assets/caret_down_symbol.svg');
}

/* ALERTS */

.alert {
  position: relative;
  border: 1px solid transparent;
  padding: 24px 24px 24px 64px;
  background-color: white;
  border-radius: 2px;
}

.alert::before {
  content: '';
  position: absolute;
  left: 24px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.alert.error {
  border-color: var(--color-error);
}

.alert.error::before {
  background-image: url('../assets/alert_icon_danger.svg');
}

.alert.success {
  border-color: var(--color-success);
}

.alert.success::before {
  background-image: url('../assets/alert_icon_success.svg');
}

.alert.warning {
  border-color: var(--color-warning);
}

.alert.warning::before {
  background-image: url('../assets/alert_icon_warning.svg');
}

.alert.info {
  border-color: var(--color-info);
}

.alert.info:before {
  background-image: url('../assets/alert_icon_info.svg');
}

.alert-content {
  text-align: left;
}

.alert.sidebar {
  margin-left: -40px;
  padding: 0 0 0 40px;
  border-color: transparent;
}

.alert.sidebar:before {
  left: 0;
}

.alert .sidebar-link {
  display: inline;
}

.alert.auth {
  margin-bottom: 24px;
}

/* NAVIGATION */

.navbar {
  padding: 32px 0 136px 0;
}

.navbar.demo {
  position: relative;
}

.navbar.demo::before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--color-error);
  position: absolute;
  top: 0;
}

.navbar-heading {
  line-height: 0;
}

.navbar-logo {
  max-height: 37px;
}

.navbar-wrapper {
  max-width: var(--width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-content {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.navbar-demo {
  margin-left: 16px;
  padding: 8px 16px;
  background-color: var(--color-error);
  color: white;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.6px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2px;
  position: relative;
}

.navbar-demo::before {
  content: '';
  position: absolute;
  left: -4px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 6px 0;
  border-color: transparent var(--color-error) transparent;
}

.navbar-version {
  margin-left: 32px;
  color: var(--color-grey-dark);
  font-size: 14px;
  line-height: 32px;
}

.navbar-link {
  margin-right: 40px;
  font-size: 14px;
  line-height: 32px;
  text-decoration: none;
  color: var(--color-grey-dark);
}

.navbar-link:hover {
  color: var(--color-brand);
  text-decoration: none;
}

.navbar-title {
  width: 0;
  height: 0;
  text-indent: -999999px;
  display: inline-block;
}

/* BRANDING */

.branding-label {
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.6px;
}

.branding-label.dark {
  color: var(--color-grey);
}

.branding-logo {
  max-width: 156px;
  display: block;
}

/* MODALS */

.modal {
  animation: fade-in 0.5s;
  display: flex;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 50, 63, 0.64);
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-body {
  position: relative;
  z-index: 21;
  background-color: white;
  margin: auto;
  padding: 56px;
  width: 100%;
  max-width: 952px;
  max-height: 95%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0);
  border-radius: 2px;
  overflow-y: scroll;
}

.modal-body.narrow {
  width: auto;
}

.modal-close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 32px;
  right: 32px;
  background-image: url('../assets/close_icon.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.modal-close:hover {
  cursor: pointer;
}

.modal-paragraph {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  white-space: pre-wrap;
}

.modal-paragraph.bigger {
  font-size: 16px;
  line-height: 32px;
}

.modal-footer {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-footer .modal-paragraph {
  margin-top: 40px;
}

.modal-body .alert {
  margin-top: 40px;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.modal-head .modal-warning {
  min-width: 185px;
  margin-top: 16px;
}

.modal-warning {
  font-size: 11px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: var(--color-warning);
  text-transform: uppercase;
  padding-left: 28px;
  position: relative;
  height: 20px;
  display: flex;
  align-items: center;
}

.modal-warning::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../assets/alert_icon_warning.svg');
}

.modal-mnemonic {
  position: relative;
  margin-top: 40px;
  padding: 24px 24px 24px 64px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
}

.modal-mnemonic:before {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  left: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../assets/input_pencil_icon.svg');
}

.modal-body.centered {
  text-align: center;
}

.modal-body.centered .modal-head {
  justify-content: center;
}

.modal-body.centered .modal-footer {
  margin-top: 40px;
}

/* MAIN PAGE */

.page-wrapper {
  display: flex;
  min-height: 100%;
  max-width: var(--width);
  margin: 0 auto;
  flex: 1;
}

.page-main {
  width: 66%;
}

.page-demo {
  margin-top: 56px;
  text-align: center;
}

/* DASHBOARD */

.dashboard.desktop {
  display: flex;
}

.dashboard.mobile {
  display: none;
}

.dashboard-column {
  flex: 1 1 50%;
}

.dashboard-column:first-child {
  padding-right: 28px;
}

.dashboard-column:last-child {
  padding-left: 28px;
}

.dashboard-column .card {
  margin-bottom: 56px;
}

/* CARD */

.card {
  background-color: white;
  padding: 40px 56px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
}

.card-title {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
}

/* AUTHENTICATION */

.authentication {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 528px;
}

.authentication-title {
  font-weight: normal;
  text-align: center;
  white-space: pre-wrap;
  margin-bottom: 56px;
}

.authentication.initial {
  padding: 80px 56px 88px 56px;
}

.authentication-content {
  flex: 1;
  padding: 56px;
}

.authentication-content.centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.authentication-content .dropzone {
  margin-bottom: 24px;
}

.authentication-label {
  margin-bottom: 16px;
  padding-left: 8px;
  display: block;
}

.authentication-paragraph {
  margin-bottom: 40px;
}

/* AUTHENTICATION TABS */

.auth-tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.auth-tab {
  flex: 1;
  background: linear-gradient(
    -180deg,
    rgba(252, 252, 252, 0) 0%,
    #fcfcfc 100%,
    rgba(252, 252, 252, 1) 50%
  );
  padding: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-bottom-color: var(--color-border);
  border-right-color: rgba(230, 230, 230, 0.4);
}

.auth-tab:last-child {
  border-right-color: transparent;
}

.auth-tab.selected {
  background: white;
  border-bottom-color: transparent;
  border-right-color: var(--color-border);
  border-left-color: var(--color-border);
}

.auth-tab:first-child.selected {
  border-left-color: transparent;
}

.auth-tab:last-child.selected {
  border-right-color: transparent;
}

.auth-tab:hover {
  cursor: pointer;
}

.auth-tab-text {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.auth-tab-text::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 16px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.auth-tab-text.mnemonic::before {
  background-image: url('../assets/tab_icon_mnemonic_grey.svg');
}

.auth-tab-text.trezor::before {
  background-image: url('../assets/tab_icon_trezor_grey.svg');
}

.auth-tab-text.file::before {
  background-image: url('../assets/tab_icon_file_grey.svg');
}

.auth-tab.selected .auth-tab-text.mnemonic::before {
  background-image: url('../assets/tab_icon_mnemonic.svg');
}

.auth-tab.selected .auth-tab-text.trezor::before {
  background-image: url('../assets/tab_icon_trezor.svg');
}

.auth-tab.selected .auth-tab-text.file::before {
  background-image: url('../assets/tab_icon_file.svg');
}

.auth-tab.recommended .auth-tab-text::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 16px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/alert_icon_success.svg');
}

/* AUTHENTICATION OPTIONS */

.auth-options {
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: 4px;
}

.auth-option {
  padding: 104px 20px 48px 20px;
  position: relative;
  background-color: white;
  flex: 1;
  text-align: center;
  border-right: 1px solid var(--color-border);
  transition: background-color var(--transition-easing) var(--transition-time);
}

.auth-option:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.auth-option:last-child {
  border-right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.auth-option::before {
  content: '';
  width: 24px;
  height: 30px;
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  margin: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.auth-option:hover {
  background-color: #fcfcfc;
}

.auth-option:hover .auth-option-title {
  text-decoration: underline;
}

.auth-option.mnemonic::before {
  background-image: url('../assets/cursor_icon.svg');
}

.auth-option.trezor::before {
  background-image: url('../assets/lock_icon.svg');
}

.auth-option.file::before {
  background-image: url('../assets/file_icon.svg');
}

.auth-option:hover {
  cursor: pointer;
}

.auth-option-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
}

.auth-option-text {
  color: var(--color-grey);
}

/* TAGS */

.tag {
  position: relative;
}

.tag.fastest {
  color: var(--color-blue);
}

.tag.recommended {
  color: var(--color-green);
}

.tag.warning {
  color: var(--color-warning);
}

.tag.big {
  min-width: 185px;
  margin-top: 10px;
}

.tag.auth {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
}

.tag-text {
  position: relative;
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.6px;
}

.tag-text::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.tag.big .tag-text {
  padding-left: 28px;
}

.tag.big .tag-text::before {
  width: 20px;
  height: 20px;
}

.tag.fastest .tag-text::before {
  background-image: url('../assets/alert_icon_lightning.svg');
}

.tag.recommended .tag-text::before {
  background-image: url('../assets/alert_icon_success.svg');
}

.tag.warning .tag-text::before {
  background-image: url('../assets/alert_icon_warning.svg');
}

/* FOOTER */

.footer {
  background-image: url('../assets/footer_bg.svg');
  background-position: center;
  background-size: cover;
  padding: 56px 0 32px 0;
}

.footer-wrapper {
  max-width: var(--width);
  margin: 0 auto;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer .branding {
  margin-bottom: 48px;
}

.footer .conversion {
  margin-top: 32px;
  margin-bottom: 8px;
}

.footer .social {
  width: 60%;
}

.footer .donations {
  width: 30%;
}

.conversion {
  color: white;
  padding-left: 40px;
  position: relative;
}

.conversion:before {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  background-image: url('../assets/conversion_icon.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.conversion-link {
  color: white;
}

.social {
  display: flex;
  flex-wrap: wrap;
}

.social-link {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 40px;
  position: relative;
  margin-bottom: 24px;
  color: white;
}

.social-link:before {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.social-link.email:before {
  background-image: url('../assets/social_icon_email.svg');
}

.social-link.twitter:before {
  background-image: url('../assets/social_icon_twitter.svg');
}

.social-link.telegram:before {
  background-image: url('../assets/social_icon_telegram.svg');
}

.social-link.github:before {
  background-image: url('../assets/social_icon_github.svg');
}

.donations {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.donations-title {
  color: white;
  font-weight: bold;
  flex: 1 1 100%;
  margin-bottom: 24px;
}

.donations-item {
  color: white;
  position: relative;
  padding-left: 40px;
  margin-right: 32px;
}

.donations-item:before {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.donations-item.bitcoin:before {
  background-image: url('../assets/donation_icon_bitcoin.svg');
}

.donations-item.ada:before {
  background-image: url('../assets/donation_icon_ada.svg');
}

.donations-item.ether:before {
  background-image: url('../assets/donation_icon_ether.svg');
}

/* DROPZONE */

.dropzone {
  border-radius: 4px;
  border: 2px dashed #e6e6e6;
  background-color: #fcfcfc;
  transition: border-color var(--transition-easing) var(--transition-time);
}

.dropzone.error {
  border-color: var(--color-error);
}

.dropzone-file-input {
  display: none;
}

.dropzone-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropzone-content.has-file {
  padding: 52px 40px;
}

.dropzone-paragraph {
  margin-bottom: 16px;
}

.dropzone-filename {
  margin-bottom: 16px;
  padding-left: 24px;
  text-align: center;
  position: relative;
  color: var(--color-grey);
}

.dropzone-filename::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 12px;
  height: 15px;
  background-image: url('../assets/file_icon.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.dropzone-link {
  color: var(--color-brand);
  text-decoration: underline;
}

.dropzone-link:hover {
  cursor: pointer;
}

/* VALIDATION */

.validation-row {
  display: flex;
  align-items: center;
}

.validation-message {
  padding-left: 40px;
  flex: 1;
}

.validation-message.error {
  color: var(--color-error);
}

/* SIDEBAR */

.sidebar {
  flex: 1;
  margin-left: 5%;
  padding-left: 40px;
  padding-top: 105px;
}

.sidebar-link {
  display: block;
}

.sidebar-item {
  margin-bottom: 24px;
}

.sidebar-item.spacy {
  margin-bottom: 64px;
}

/* BALANCE */

.balance-title {
  margin-bottom: 0;
}

.balance-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance-amount {
  font-size: 32px;
  line-height: 48px;
  color: var(--color-brand);
  padding-right: 34px;
  position: relative;
}

.balance-amount::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 22px;
  right: 0;
  top: 11px;
  margin: auto;
  background-image: url('../assets/ada_symbol_balance.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.conversions {
  display: flex;
  align-items: center;
}

.conversions-item {
  margin-right: 16px;
}

.conversions-help {
  width: 16px;
  height: 16px;
  background-image: url('../assets/question_symbol.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.conversions-help:hover {
  cursor: pointer;
}

/* ADDRESSES */

.addresses {
  padding-bottom: 21px;
}

.addresses-title {
  margin-bottom: 24px;
}

.addresses-content {
  margin-bottom: 19px;
  border-bottom: 1px solid var(--color-border);
}

.address {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid var(--color-border);
}

.address-value {
  color: var(--color-grey);
  word-break: break-all;
  margin-bottom: 16px;
}

.address-links {
  display: flex;
  justify-content: flex-end;
}

.address-link {
  color: var(--color-grey);
  margin-right: 24px;
}

.address-link:last-child {
  margin-right: 0;
}

.address-link.qr {
  margin-left: auto;
}

.address:hover .address-link {
  color: var(--color-brand);
}

.address:hover .address-value {
  color: var(--color-text);
}

.address:hover .copy::before {
  background-image: url('../assets/copy_symbol_active.svg');
}

.addresses .view-more {
  display: block;
  margin: 0 auto;
}

.address-qr {
  padding: 24px 32px;
  text-align: center;
}

/* COPY */

.copy {
  position: relative;
  padding-left: 21px;
}

.copy::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../assets/copy_symbol.svg');
}

.copy:hover::before {
  background-image: url('../assets/copy_symbol_active.svg');
}

/* WELCOME MODAL */

.welcome-title {
  margin-bottom: 16px;
  text-align: center;
}

.welcome-subtitle {
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  white-space: pre-wrap;
}

.welcome-articles {
  margin: 56px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 56px;
  grid-row-gap: 32px;
}

.welcome .article {
  padding-top: 56px;
  position: relative;
}

.welcome .article-icon {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.welcome .article-icon.mnemonic {
  background-image: url('../assets/cursor_icon_bounded.svg');
}

.welcome .article-icon.funds {
  background-image: url('../assets/shield_icon_bounded.svg');
}

.welcome .article-icon.wallet {
  background-image: url('../assets/lock_icon_bounded.svg');
}

.welcome .article-icon.phishing {
  background-image: url('../assets/bookmark_icon_bounded.svg');
}

.welcome-footer {
  margin-top: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.welcome-footer .button {
  margin-left: 64px;
}

.welcome .credits {
  display: flex;
  align-items: center;
  padding: 56px 0;
  border: solid var(--color-border);
  border-width: 1px 0;
}

.credits-paragraph {
  margin-left: 64px;
  color: var(--color-grey);
}

.article-title {
  margin-bottom: 8px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox-indicator {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../assets/checkbox.svg');
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-indicator {
  background-image: url('../assets/checkbox_checked.svg');
}

/* TRANSACTIONS */

.transactions-content {
  padding: 0;
  margin: 0;
}

.transaction-item {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid var(--color-border);
  color: var(--color-grey);
}

.transaction-date {
  align-self: center;
}

.transaction-amount {
  line-height: 32px;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

.transaction-amount.credit {
  color: var(--color-success);
}

.transaction-amount.debit {
  color: var(--color-error);
}

.transaction-address {
  color: rgba(96, 106, 113, 0.64);
}

.transaction-fee {
  text-align: right;
}

.transactions-empty {
  color: var(--color-grey);
  text-align: center;
  padding-top: 40px;
  border-top: 1px solid var(--color-border);
}

/* EXPORT */

.export.download {
  display: flex;
}

.export-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.export-title {
  margin-bottom: 0;
}

.export.download .export-title {
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
  margin-bottom: 40px;
}

.export-subtitle {
  font-size: 16px;
  line-height: 32px;
}

.export-type {
  color: var(--color-grey);
  position: relative;
  padding-left: 20px;
  margin-top: 4px;
  min-width: 88px;
}

.export-type::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 12px;
  height: 15px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../assets/file_icon.svg');
}

.export-paragraph {
  margin-bottom: 40px;
  color: var(--color-grey);
}

.export-content .validation-row {
  margin-top: 24px;
}

/* VALIDATION */

.validation-row {
  display: flex;
  align-items: center;
}

.validation-message {
  padding-left: 40px;
  flex: 1;
}

.validation-message.error {
  color: var(--color-error);
}

/* HINT */

.hint {
  position: relative;
  padding-left: 64px;
  margin-bottom: 56px;
}

.hint-title {
  font-size: 16px;
  line-height: 32px;
}

.hint-paragraph {
  color: var(--color-grey);
}

.hint::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  top: 8px;
  left: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hint.lose::before {
  background-image: url('../assets/lose_icon.svg');
}

.hint.share::before {
  background-image: url('../assets/eye_icon.svg');
}

.hint.backup::before {
  background-image: url('../assets/documents_icon.svg');
}

/* MOBILE MEDIA QUERIES */

@media screen and (max-width: 767px) {
  /* TYPOGRAPHY */

  h2 {
    font-size: 24px;
    line-height: 40px;
  }

  /* PAGE MAIN */

  .page-wrapper {
    display: block;
  }

  .page-main {
    width: 100%;
  }

  /* SIDEBAR */

  .sidebar {
    margin: 0;
    padding: 56px 32px 56px 56px;
  }

  .sidebar.export {
    padding: 40px 16px;
  }

  .sidebar-item.spacy {
    margin-bottom: 56px;
  }

  /* NAVBAR */

  .navbar {
    padding-bottom: 0;
  }

  /* BUTTONS */

  .button {
    font-size: 14px;
  }

  /* NAVBAR */

  .navbar {
    padding: 24px 0 0 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04);
  }

  .navbar.demo {
    padding-top: 64px;
  }

  .navbar.demo::before {
    display: none;
  }

  .navbar-demo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 12px 16px;
    text-align: center;
    border-radius: 0;
  }

  .navbar-wrapper {
    display: grid;
    grid-template-columns: 132px 1fr;
    grid-row-gap: 24px;
  }

  .navbar-heading {
    order: 1;
    margin: 0;
  }

  .navbar .button {
    order: 2;
    margin-right: 16px;
    justify-self: end;
  }

  .navbar-version {
    order: 3;
    margin: 0;
    border-top: 1px solid var(--color-grey-light);
    padding: 7px 16px;
  }

  .navbar-content {
    order: 4;
    border-top: 1px solid var(--color-grey-light);
    padding: 7px 16px;
  }

  .navbar-logo {
    margin-left: 16px;
    max-height: 28px;
  }

  .navbar-link:last-child {
    margin: 0;
  }

  /* ALERTS */

  .alert {
    padding: 16px 24px 16px 60px;
  }

  /* MODALS */

  .modal-body {
    width: calc(100% - 32px);
    max-height: calc(100% - 32px);
    padding: 40px 16px;
  }

  .modal-head {
    flex-direction: column-reverse;
    align-items: center;
  }

  .modal-paragraph {
    text-align: center;
    white-space: normal;
  }

  .modal-paragraph a {
    display: block;
  }

  .modal-body .alert {
    margin-top: 24px;
  }

  .modal-footer {
    margin-top: 40px;
  }

  .modal-footer .modal-paragraph {
    margin-top: 24px;
  }

  .modal-mnemonic {
    padding: 16px 24px 16px 60px;
  }

  .modal-close {
    top: 24px;
    right: 24px;
  }

  /* WELCOME MODAL */

  .welcome-subtitle {
    white-space: normal;
  }

  .welcome-articles {
    margin-top: 40px;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }

  .welcome .credits {
    margin-left: -16px;
    margin-right: -16px;
    padding: 40px 16px;
    display: block;
  }

  .credits-paragraph {
    margin-left: 0;
    margin-top: 24px;
  }

  .welcome-footer {
    display: block;
    margin-top: 40px;
    margin-bottom: 16px;
  }

  .welcome-footer .button {
    margin-left: 0;
    margin-top: 24px;
    width: 100%;
  }

  /* FOOTER */

  .footer {
    padding: 56px 32px;
  }

  .footer .branding {
    margin-bottom: 56px;
  }

  .footer-row {
    display: block;
  }

  .footer .social {
    display: block;
    width: 100%;
    margin-bottom: 32px;
  }

  .footer .donations {
    width: 100%;
  }

  .footer .conversion {
    margin-top: 56px;
    margin-bottom: 0;
  }

  .social-link {
    display: block;
    max-width: 100%;
  }

  /* CARD */

  .card {
    box-shadow: none;
    padding: 40px 16px;
    border-bottom: 1px solid var(--color-grey-light);
  }

  .card.export:not(.download) {
    border: 0;
  }

  .card.authentication {
    border: 0;
  }

  /* INPUTS */

  .input.export {
    margin-bottom: 24px;
  }

  /* VALIDATION */

  .validation-row {
    flex-direction: column-reverse;
  }

  .validation-message {
    margin-bottom: 16px;
    padding-left: 0;
    text-align: center;
  }

  /* EXPORT */

  .export.download {
    flex-direction: column-reverse;
  }

  .export.download .tag {
    margin-bottom: 16px;
  }

  .export.download .export-title {
    font-size: 24px;
    line-height: 40px;
  }

  .export-content .validation-row {
    margin-top: 16px;
  }

  .export-content .button {
    width: 100%;
  }

  /* HINT */

  .hint {
    padding-left: 56px;
    margin-bottom: 48px;
  }

  .hint::before {
    left: 8px;
  }

  .hint:last-child {
    margin-bottom: 0;
  }

  /* AUTHENTICATION */

  .authentication.initial {
    padding: 56px 16px 0 16px;
  }

  .authentication-title {
    margin-bottom: 40px;
  }

  .auth-options {
    display: block;
    border-bottom: none;
    border-radius: 0;
  }

  .auth-option {
    padding-bottom: 24px;
    border-right: none;
    border-bottom: 1px solid var(--color-border);
  }

  .auth-option:first-child {
    border-radius: 0;
  }

  .auth-option:last-child {
    border-radius: 0;
    border-right: none;
  }

  .page-demo {
    margin-top: 40px;
  }
}
