.transportWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

.transportLabel {
  margin-right: 32px;
}

.trezorWarning {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.trezorWarningLabel {
  margin-top: 2px;
  margin-right: 4px;
}