.homepage {
  display: flex;
  align-items: center;
}

.homepage svg {
  margin-right: 6px;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 6px;
}

.icon svg {
  width: 12px;
  height: 12px;
}