.homepage {
  display: flex;
  align-items: center;
}

.homepage svg {
  margin-right: 6px;
}

.icon {
  display: flex;
  align-items: center;
}

.icon svg {
  width: 12px;
  height: 12px;
}

.empty {
  white-space: nowrap;
  color: var(--color-grey-medium);
}

.assetName {
  white-space: nowrap;
}