.homepage {
  display: flex;
  align-items: center;
}

.homepage svg {
  margin-right: 6px;
}

.icon {
  display: flex;
  align-items: center;
}

.icon svg, .icon img {
  height: 12px;
}

.iconOffset {
  margin-right: 6px;
}

.empty {
  white-space: nowrap;
  color: var(--color-grey-medium);
}

.assetName {
  white-space: nowrap;
}

.iconName {
  display: flex;
  align-items: center;
}
